{% extends "catalog/base.html" %}

{% block title %}Каталог{% endblock %}

{% block content %}
<h1 class="text-center margin-top-main mb-5">Каталог</h1>
<div class="row">
    {% for product in products %}
    <div class="col-4 mb-5 d-flex justify-content-evenly">
        <div class="card" style="width: 300px;">
            <img src="{{product.image.url}}" class="card-img-top"
                 alt="...">
            <div class="card-body">
                <p class="card-text">{{ product.name }}.</p>
                <div class="btn-group btn-group-sm position-absolute bottom-0 text-center" role="group"
                     aria-label="Small button group">
                    <a href="{% url 'catalog:product_views' product.pk %}"
                       class="btn btn-outline-primary"> КУПИТЬ {{ product.price }} р.</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
