{% extends "catalog/base.html" %}

{% block title %}Категории{% endblock %}

{% block content %}
<h1 class="text-center margin-top-main"> Категории </h1>
<div class="row mt-5">
    {% for category in categories %}
    <div class="col-4 mb-5 d-flex justify-content-evenly">
        <div class="card text-center" style="width: 300px;">
            <h5 class="card-header">{{ category.name }}</h5>
            <div class="card-body">
                <a href="{% url 'catalog:category_detail_views' category.pk %}" class="btn btn-outline-primary">Перейти</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
