<!-- home.html -->
{% extends 'catalog/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<h1 class="text-center margin-top-main">Главная</h1>
<p class="text-center fw-light">Вы находитесь на сайте, предназначенном для продажи товаров</p>
<div class="row">
    <div class="col-4 d-flex justify-content-evenly">
        <div class="card text-center" style="width: 300px;">
            <h5 class="card-header">Товар 1</h5>
            <div class="card-body">
                <h5 class="card-title">100$</h5>
                <p class="card-text">10 users included, 2 GB of storage,
                    Email support, Help center access</p>
                <a href="#" class="btn btn-outline-primary">Купить</a>
            </div>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-evenly">
        <div class="card text-center" style="width: 300px;">
            <h5 class="card-header">Товар 1</h5>
            <div class="card-body">
                <h5 class="card-title">100$</h5>
                <p class="card-text">10 users included, 2 GB of storage,
                    Email support, Help center access</p>
                <a href="#" class="btn btn-outline-primary">Купить</a>
            </div>
        </div>
    </div>
    <div class="col-4 d-flex justify-content-evenly">
        <div class="card text-center" style="width: 300px;">
            <h5 class="card-header">Товар 1</h5>
            <div class="card-body">
                <h5 class="card-title">100$</h5>
                <p class="card-text">10 users included, 2 GB of storage,
                    Email support, Help center access</p>
                <a href="#" class="btn btn-outline-primary">Купить</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
