{% extends 'catalog/base.html' %}

{% block title %}Товар{% endblock %}

{% block content %}
<div class="row">
    <div class="col-5">
        <img src={{product.image.url}} width="250" height="200" class="img-fluid mt-5 ms-5" alt="Изображение">
    </div>
    <div class="col-5">
        <div class="card-body">
            <h4 class="card-title text-start" style="margin-top:150px">{{ product.name }}</h4>
            <p class="card-text">{{ product.description }}</p>
            <a href="#" class="btn btn-primary">Купить {{product.price}}p.</a>
        </div>
    </div>
</div>
{% endblock %}